.menu-header {
    margin-top: 80px;
    padding: 2rem 1rem;
    text-align: center;
    background-color: #a4bbd3;
    border: 2px solid  var(--bg);

  }
  .menu-section {
    border: 2px solid  var(--bg);
    padding: 1rem;
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .header-title {
    font-size: 2.2rem;
    margin-bottom: 0.25rem;
    
  }
  
  .header-subtext {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
    
  }
  
  .more-menu-container {
    font-family: sans-serif;
    background: #fffefb;
    border: 2px solid  var(--bg);
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  
  .more-box {

    border-radius: 20px;
    padding: 1.5rem;
    background: #ffffff;
    border: 2px solid  var(--bg);
  }
  
  .more-box h2 {
    text-align: center;

    margin-bottom: 1rem;
  }
  
  .more-box ul {
    list-style-type: none;
    padding: 0;
  }
  
  .more-box li {
    margin-bottom: 1rem;
  }
  
  .desc {
    font-size: 0.9rem;
    color: #444;
  }
  
  @media (max-width: 600px) {
    .menu-header .header-title {
      font-size: 1.8rem;
    }
  
    .menu-header .header-subtext {
      font-size: 1rem;
    }
  
    .more-menu-container {
      padding: 1rem;
      grid-template-columns: 1fr;
    }
  }
  